.layout__container {
    display: flex;
    flex-direction: column;
}

.layout__imageUploader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    border: 1px solid black;
}